<script type="text/javascript">
    window.onload = function () {

        $("#button-control").click(start_task);
        $("#button-control-one").click(send_brake_requisition);
        $("#button-control-two").click(stop_test_requisition);

        var vel_dps = []; // Datapoints
        var temp_disc_dps = []; // Datapoints
        var temp_grip_dps = []; // Datapoints

        function createChart(div_id, _title, _type, dps) {
            var chart = new CanvasJS.Chart(div_id, {
                title: {
                    text: _title
                },
                data: [{
                    type: _type,
                    dataPoints: dps
                }]
            });
            return chart
        }
        var chart1 = createChart("velocity_time", "Velocidade X Tempo", "spline", vel_dps);
        var chart2 = createChart("temperature_time", "Temperatura(Disco) X Tempo", "spline", temp_disc_dps);
        var chart3 = createChart("temperature_grip", "Temperatura(Pinça) X Tempo", "spline", temp_grip_dps);

        var xVal = 0;
        var tempDisc = 0;
        var tempGrip = 0;
        var velDisc = 0;
        var tempEnv = 0;
        var pressure = 0;
        var friction = 0;
        var updateInterval = 200;
        var timeToNewRequest = 200;
        var dataLength = 500; // num of datapoints visible at any point

        var updateChart = function (count) {
            count = count || 1;
            // count is number of times loop runs to generate random datapoints

            for (var j = 0; j < count; j++) {

                $("#temp_disc").html(tempDisc);
                $("#temp_grip").html(tempGrip);
                $("#vel").html(velDisc);
                $("#temp_env").html(tempEnv);
                $("#pressure").html(pressure);
                $("#friction").html(friction);

                vel_dps.push({
                    x: xVal,
                    y: velDisc
                });
                temp_disc_dps.push({
                    x: xVal,
                    y: tempDisc
                });
                temp_grip_dps.push({
                    x: xVal,
                    y: tempGrip
                });
                xVal++;
            };

            if (vel_dps.length > dataLength) {
                vel_dps.shift();
            }

            if (temp_disc_dps.length > dataLength) {
                temp_disc_dps.shift();
            }

            if (temp_grip_dps.length > dataLength) {
                temp_grip_dps.shift();
            }

            chart1.render();
            chart2.render();
            chart3.render();
        };

        // generates first set of dp
        updateChart(dataLength);

        // update chart after specified time
        setInterval(function(){ updateChart() }, updateInterval);

        function start_task() {
            console.log("Start task requisition");
            $.ajax({
                type: 'POST',
                url: '/update_control_painel',
                data: $('form').serialize(),
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    update_progress(status_url)
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }

        function update_progress(status_url) {
            $.getJSON(status_url, function(data) {
                if (data['state'] == 'PROGRESS' || data['state'] == 'PENDING') {
                    tempDisc = data['dsc_temp'];
                    tempGrip = data['pin_temp'];
                    velDisc = data['speed'];
                    tempEnv = data['env_temp'];
                    pressure = data['pressure'];
                    friction = data['friction'];

                    setTimeout( function() {
                        update_progress(status_url);
                    }, timeToNewRequest);
                }
            });
        }


        function send_brake_requisition() {
            console.log("sending brake requisition");
            $.ajax({
                type: 'POST',
                url: '/brake',
                success: function(response) {
                    console.log(response)
                },
                error: function(error) {
                    console.log(error)
                    alert('Unexpected error');
                }
            });
        }

        function stop_test_requisition() {
            console.log("sending stop requisition");
            $.ajax({
                type: 'POST',
                url: '/stop_test',
                success: function(response) {
                    console.log(response)
                },
                error: function(error) {
                    console.log(error)
                    alert('Unexpected error');
                }
            });
        }

    }
</script>
