<table class="table">
    <tbody>
        <tr>
            <td>Temperatura Ambiente</td>
            <td id="temp_env"></td>
            <td>˚C</td>
        </tr>
        <tr>
            <td>Temperatura do Disco</td>
            <td id="temp_disc"></td>
            <td>˚C</td>
        </tr>
        <tr>
            <td>Temperatura da Pinça</td>
            <td id="temp_grip"></td>
            <td>˚C</td>
        </tr>
        <tr>
            <td>Velocidade</td>
            <td id="vel"></td>
            <td>Km/h</td>
        </tr>
        <tr>
            <td>Pressão sobre o disco</td>
            <td id="pressure"></td>
            <td>KPa</td>
        </tr>
        <tr>
            <td>Força de atrito</td>
            <td id="friction"></td>
            <td>N</td>
        </tr>
    </tbody>
</table>
