<div>
    <br>
    <form role="init_test">
        <div class="form-group">
            <label>Escolha a velocidade </label>
            <select class="form-control" id="velocity">
                <option>20 Km/h</option>
                <option>30 Km/h</option>
                <option>40 Km/h</option>
                <option>50 Km/h</option>
                <option>60 Km/h</option>
                <option>70 Km/h</option>
                <option>80 Km/h</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Iniciar Teste</button>
    </form>
    <br>
    <button class="btn btn-warning">Acionar freio</button>
</div>
