<script type="text/javascript">
    window.onload = function () {

        var temp_time_dps = []; // Datapoints

        var chart2 = new CanvasJS.Chart("temperature_time", {
            title: {
                text: "Temperatura X Tempo"
            },
            data: [{
                type: "line",
                dataPoints: temp_time_dps
            }]
        });

        var xVal = 0;
        var yVal = 100;
        var updateInterval = 100;
        var dataLength = 200; // num of datapoints visible at any point

        var updateChart2 = function (count) {
            count = count || 1;
            // count is number of times loop runs to generate random datapoints

            for (var j = 0; j < count; j++) {
                yVal = yVal + Math.round(5 + Math.random() *(-5-5));
                temp_time_dps.push({
                    x: xVal,
                    y: yVal
                });
                xVal++;
            };
            if (temp_time_dps.length > dataLength)
            {
                temp_time_dps.shift();
            }
            chart2.render();
        };

        // generates first set of dp
        updateChart2(dataLength);

        // update chart after specified time
        setInterval(function(){ updateChart2() }, updateInterval);
    }
</script>

