<table class="table">
    <tbody>
        <tr>
            <td>Temperatura Ambiente</td>
            <td>30 graus C</td>
        </tr>
        <tr>
            <td>Temperatura do Disco</td>
            <td>70 graus C</td>
        </tr>
        <tr>
            <td>Temperatura da Pinça</td>
            <td>80 graus C</td>
        </tr>
        <tr>
            <td>Velocidade</td>
            <td>60 Km/h</td>
        </tr>
        <tr>
            <td>Pressão sobre o disco</td>
            <td>90 bar</td>
        </tr>
        <tr>
            <td>Força de atrito</td>
            <td>90 N</td>
        </tr>
    </tbody>
</table>
