<table class="table">
    <tbody>
        <tr>
            <td>Temperatura Ambiente</td>
            <td>30</td>
            <td>˚C</td>
        </tr>
        <tr>
            <td>Temperatura do Disco</td>
            <td>70</td>
            <td>˚C</td>
        </tr>
        <tr>
            <td>Temperatura da Pinça</td>
            <td>80</td>
            <td>˚C</td>
        </tr>
        <tr>
            <td>Velocidade</td>
            <td>60</td>
            <td>Km/h</td>
        </tr>
        <tr>
            <td>Pressão sobre o disco</td>
            <td>90</td>
            <td>bar</td>
        </tr>
        <tr>
            <td>Força de atrito</td>
            <td>90</td>
            <td>N</td>
        </tr>
    </tbody>
</table>
