{% extends "base.html" %}

{% block extra_scripts %}

<script type="text/javascript" src="../static/canvasjs-1/canvasjs.min.js">
</script>
{% include "partials/_graph1.html" %}

{% endblock %}


{% block navbar_content %}

<div class="navbar-form navbar-right" method="post" action=''>
    <div class="dropdown">
      <button class="dropbtn">Menu &darr;</button>
      <div class="dropdown-content">
        <a href="#">Save &rarr;</a>
        <a href="#">Historic &rarr;</a>
      </div>
    </div>
    <a class="btn btn-success" href="/logout">Logout</a>
</div>

{% endblock %}

{% block body_content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% include "partials/_jwplayer.html" %}
            </div>
            <div class="col-md-4">
                {% include "partials/_control.html" %}
            </div>
            <div class="col-md-4">
                <div id="velocity_time" style="height: 180px; width: 100%;">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                {% include "partials/_table.html" %}
            </div>
            <div class="col-md-4">
                {# Nothing in this column #}
            </div>
            <div class="col-md-4">
                <div id="temperature_time" style="height: 180px; width: 100%;">
                </div>
            </div>
        </div>
        <br>
        <div class"row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div id="velocity_temperature" style="height: 180px; width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<script src="{{url_for('static',filename='jwplayer.js')}}"></script>
