{% extends "base.html" %}

{% block extra_scripts %}

<script type="text/javascript" src="../static/canvasjs-1/canvasjs.min.js">
</script>

{% include "modules/_base.html" %}

{% endblock %}


{% block navbar_content %}

<div class="navbar-form navbar-right" method="post" action=''>
    <div class="dropdown">
      <button class="dropbtn">Menu &darr;</button>
      <div class="dropdown-content">
        <a href="#">Save &rarr;</a>
        <a href="#">Historic &rarr;</a>
      </div>
    </div>
    <a class="btn btn-success" href="/logout">Logout</a>
</div>

{% endblock %}

{% block body_content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% include "modules/_jwplayer.html" %}
            </div>
            <div class="col-md-3" id="center-control">
                {% include "modules/_control.html" %}
            </div>
            <div class="col-md-3">
                <div id="velocity_time" class="format-grafic-one">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                {% include "modules/_table.html" %}
            </div>
            <div class="col-md-3" id="center-control">
                {# Nothing in this column #}
            </div>
            <div class="col-md-4">
                <div id="temperature_time" class="format-grafic-two">
                </div>
            </div>
        </div>
        <br>
        <div class"row">
            <div class="col-md-4">
            </div>
            <div class="col-md-3" id="center-control">
            </div>
            <div class="col-md-4">
                <div id="temperature_grip" class="format-grafic-three">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_end_scripts %}
    <script src="../static/js/jquery-2.2.4.min.js"></script>
{% endblock %}
